label {
	display: inline-block;
	width: 150px;
}
input[type="number"] {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
button {
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	background-color: #2196f3;
	color: #fff;
	cursor: pointer;
}
